In [58]:
# Importación de librerías necesarias para el proyecto

# Conexión y manejo de bases de datos PostgreSQL
# -----------------------------------------------------------------------
import psycopg2                                 # Conexión con bases de datos PostgreSQL
from psycopg2 import OperationalError, errorcodes, errors  # Manejo de errores específicos de psycopg2

# Manipulación de fechas y tiempos
# -----------------------------------------------------------------------
import datetime                                 # Manipulación de fechas y tiempos

# Manipulación de DataFrames y variables de entorno
# -----------------------------------------------------------------------
import pandas as pd                             # Manipulación y análisis de datos en estructuras DataFrame
import dotenv                                   # Manejo de variables de entorno (.env)
import os                                       # Interacción con el sistema operativo (lectura de variables de entorno)
from datetime import datetime                   # Importación específica de datetime para facilitar manejo de fechas

# Importación de módulos desde rutas recursivas
# -----------------------------------------------------------------------
import sys
sys.path.append("../")                          # Añadir rutas externas para importar módulos desde carpetas superiores
from src.SupportDB import (
    conectarse_a_bd,
    modificar_bd,
    insertar_muchos_datos_bd,
    generar_tupla
)                                              # Funciones de soporte para manipulación y modificación en la base de datos

# Ver datos

In [59]:
detalles_artista = pd.read_csv("../datos/detalles_artistas.csv")
detalles_peliculas = pd.read_csv("../datos/detalles_peliculas.csv")
pelicula_artista = pd.read_csv("../datos/pelicula_artista.csv")
peliculas = pd.read_csv("../datos/peliculas.csv")

In [60]:
detalles_artista.sample()

,actr,año_nac,conocido_por,que_hace,premios
7753,Rhoads Osbourne,1963,"'Hail, Caesar!', '10 Cent Pistol', 'Between Bu...","Actor, Editor, Producer",no tiene premios

In [61]:
detalles_peliculas.sample()

,titulo,cali_imdb,direc_imbd,guion_imbd,argum_imbd,durac_imbd,id_pelicula
1432,Cecily and Lydia at the Waypoint,NaN,Juliette Strangio,Christina Shaver,"On a lush, but lonely earth, Cecily walks. Alo...",1h 15min,tt12064142

In [62]:
pelicula_artista.sample()

       Movie ID    Actriz_Actor
9242  tt0455988  Brian Geraghty

In [63]:
peliculas.sample()

,Tipo,Titulo,Año,Mes,Id,generos
21,Movie,Kôshoku kunoichi ninpô-chô: Vâjin sunaipâ - bi...,1997,10,tt0288305,Action

### Unimos detalles artista con pelicula artista

In [64]:
pelicula_artista = pelicula_artista.rename(columns={"Actriz_Actor":"actr"})
pelicula_artista["actr"] = pelicula_artista["actr"].str.lower()
detalles_artista["actr"] = detalles_artista["actr"].str.lower()
peli_artista = pd.merge(pelicula_artista,detalles_artista,on="actr",how="left")

In [73]:
peli_artista.dropna(inplace=True)

In [75]:
peli_artista.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14527 entries, 0 to 14528
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie ID      14527 non-null  object
 1   actr          14527 non-null  object
 2   año_nac       14527 non-null  float64
 3   conocido_por  14527 non-null  object
 4   que_hace      14527 non-null  object
 5   premios       14527 non-null  object
dtypes: float64(1), object(5)
memory usage: 794.4+ KB

In [80]:
peli_artista["año_nac"] = peli_artista["año_nac"].astype(int)
peli_artista.sample()

,Movie ID,actr,año_nac,conocido_por,que_hace,premios
2962,tt0272093,valérie donzelli,1973,"'Declaration of War', 'The Queen of Hearts', '...","Stunts, Actor, Producer",1 win

In [78]:
peli_artista.duplicated().sum()

np.int64(3298)

In [66]:
key = os.getenv("sql")
user = "postgres"
db = "prueba_tecnica"

In [67]:
conexion = conectarse_a_bd(db,user,key)
cursor = conexion.cursor()

Conectado a la base de datos: prueba_tecnica

# T

In [68]:
# conexion = conectarse_a_bd(db,user,key)
# query = '''CREATE TABLE IF NOT EXISTS supermercados (
#             id_supermercado SERIAL PRIMARY KEY,
#             supermercado VARCHAR(100) NOT NULL);'''
# modificar_bd(conexion,query)